<body ng-app="obelisk">

<div class="container-fluid" id="login_area">
  <div class="row">
    <% if session[:admin] %>
        <div class="col-md-1 col-md-offset-9"><small><a href="#">Сообщения</a></small></div>
        <div class="col-md-1"><small><a href="#">Страницы</a></small></div>
        <div class="col-md-1"><small><a class="logout-link" href="/logout">Выйти</a></small></div>
    <% else %>
        <div class="col-md-1 col-md-offset-11"><small><a href="/login">Войти</a></small></div>
    <% end %>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ПК "Венок"</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/page/about_us">О Нас</a></li>
        <li><a href="#/store/ritual_venki">Венки</a></li>
        <li><a href="#/store/ritual_korsinu">Корзины</a></li>
        <li><a href="#/store/goods">Изделия</a></li>
        <li><a href="#/store/may_9">Защитникам Отечества</a></li>
        <li><a href="#/store/novinki">Новинки</a></li>
        <li><a href="#/page/links">Ссылки</a></li>
        <li><a href="#/page/contacts">Контакты</a></li>

      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div ng-view></div>


</body>