<body data-ng-app="obelisk" id="top">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-52SR8D');</script>
<!-- End Google Tag Manager -->

<div class="two-lines-block" data-ng-controller="LoginCtrl">

  <div class="right-block">
    <a href="html/about_us" class="hideOnSmall" target="_blank">Перейти на упрощенную версию сайта</a>
    <a href="html/about_us" class="showOnSmall" target="_blank">HTML версия</a>
  </div>

  <div data-ng-show="isLoggedIn()" class="right-block ng-hide">
    <a href="#" class="small gray" data-ng-click="logout()">Выйти</a>
  </div>

  <div data-ng-show="isLoggedIn()" class="right-block ng-hide">
    <a href="/admin/pages" class="small gray">Страницы</a>
  </div>

  <div data-ng-show="!isLoggedIn()" class="right-block ng-hide">
    <a href="#" class="small gray" data-ng-click="open()">Вход для администратора</a>
  </div>

</div>

<div role="navigation" class="navbar navbar-inverse shadow">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="brand-place">
        <a class="navbar-brand brand-font long-brand" href="/">Производственная Компания "Венок"</a>
        <a class="navbar-brand brand-font short-brand" href="/">ПК "Венок"</a>
        <span class="slogan hideOnSmall">+7(911)1000-700, +7(911)127-70-77</span>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right clear-left" data-active-menu-class="active-menu">
        <li><a href="/about_us">О Компании</a></li>
        <li><a href="/ritual_venki">Венки</a></li>
        <li><a href="/ritual_korsinu">Корзины</a></li>
        <li><a href="/goods">Изделия</a></li>
        <li><a href="/may_9">Защитникам Отечества</a></li>
        <li class="hidden-xs hidden-sm"><a href="/novinki">Новинки</a></li>
        <li><a href="/page/contacts">Контакты</a></li>
      </ul>

    </div>
  </div>
</div>

<div data-ng-controller="BasketCtrl">
  <div data-sticky
       class="transparent-basket-block"
       data-ng-if="isVisible()">
    <a href="/order#top" class="btn btn-sm btn-success right-block order-btn hideOnSmall">
      Оформить заказ
    </a>

    <button type="button" class="btn btn-xs btn-danger right-block hideOnSmall" data-ng-click="reset()">
      Сбросить
    </button>

    <div
    class="right-block"
    data-ng-class="{shake : isShaking}">
      <a href="/order#top" class="strong black">
        <span class="hideOnSmall hideOnMedium">Выбрано:</span>
        <span data-ng-bind="basket.namesAmount()"></span> наименований,
        <span data-ng-bind="basket.productsAmount()"></span> товаров,
        <span data-ng-bind="basket.price() + ' р.'"></span>
      </a>
    </div>
  </div>
</div>

<div data-ng-view class="content"></div>

<div class="modal-footer">
  <p class="text-muted">
    Производственная компния "Венок" 2018
  </p>

  <p>
    <a href="/page/links#top">Ссылки</a>
    <a href="/articles#top">Статьи</a>
  </p>

</div>

<%= javascript_include_tag 'application' %>

<script>
    $.noConflict();
    jQuery(document).ready(function () {
        jQuery(".fancybox").fancybox();
    });

    jQuery('.fancybox').fancybox({
        'scrolling': 'no'
    })
</script>

</body>