<div class="maincontent">

  <h3>Cообщение</h3>

  <p>
    <b>Email:</b>
    <%= @feedback_mail.email %>
  </p>

  <p>
    <b>Name:</b>
    <%= @feedback_mail.name %>
  </p>

  <p>
    <b>Phone:</b>
    <%= @feedback_mail.phone %>
  </p>

  <p>
    <b>Message:</b>
    <%= @feedback_mail.message %>
  </p>


  <a id="back-link" href="javascript: history.go(-1)"><img src="/images/back.png" alt="Назад"/> Назад</a>
</div>