<div class="container">


    <div class="col-xs-10 col-xs-offset-1">
        <div class="row">
            <h2>Ресурсы</h2>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Ссылка</th>
                    <th>Название</th>
                    <th>Размер</th>
                    <th></th>
                </tr>
                </thead>

                <tr data-ng-repeat="image in images">
                    <td class="text-left" data-ng-bind="image.url"></td>
                    <td class="text-left" data-ng-bind="image.name"></td>
                    <td class="text-left" data-ng-bind="image.size"></td>
                    <td class="text-left">
                        <a class="btn btn-link pull-right" href="#" data-ng-click="deleteImage(image)">Удалить</a>
                    </td>
                </tr>

            </table>
        </div>

        <div class="row">
            <div class="form-inline bg-info margin-top-10">
                Выбери ресурс для загрузки: &nbsp;
                <div class="form-group left-offset-5">
                    <label class="sr-only" for="product_medium_img">Картинка</label>
                    <input id="product_medium_img" type="file" data-file-model="myImage"
                           placeholder="Загрузить картинку">
                </div>
                <button href="#"
                        data-ng-click="uploadImage()"
                        data-ng-disabled="!uploadEnabled()"
                        data-ng-bind="uploadBtnCaption"
                        class="btn btn-sm pull-right">
                    Загрузить
                </button>
            </div>
        </div>

    </div>

</div>
