<div class="container" data-ng-cloack>

    <h3>Выбранные товары</h3>

    <p class="default-padding lead bg-info ng-hide"  data-ng-show="isBasketEmpty()">
        Товары не выбраны. Чтобы добавить товар в заказ нажмите на его изображение.
    </p>

    <table class="table table-striped" data-ng-hide="isBasketEmpty()">
        <thead>
        <tr>
            <th>Артикль</th>
            <th>Название</th>
            <th class="text-right">Цена</th>
            <th class="text-right">Количество</th>
            <th class="text-right">Итого</th>
        </tr>
        </thead>

        <tr data-ng-repeat="item in basket.getItems()">
            <td data-ng-bind="item.article" class="text-left"></td>
            <td class="text-left">
                <a href="{{item.img}}" class="fancybox" title="{{item.name}}"><span data-ng-bind="item.name"></span></a>
            </td>
            <td data-ng-bind="item.price + ' р.'" class="text-right"></td>
            <td class="text-right">
                <a href="#"
                   class="black"
                   data-editable-number="item.amount"
                   data-e-min="0"
                   data-blur="submit"
                   data-buttons="no"

                   data-e-style="width: 80px">
                    <strong data-ng-bind="item.amount"></strong>
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
            </td>

            <td data-ng-bind="item.amount * item.price + ' р.'" class="text-right"></td>
        </tr>

        <tfoot>
        <tr class="success strong">
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right" data-ng-bind="basket.productsAmount()"></td>
            <td class="text-right" data-ng-bind="basket.price() + 'р.'"></td>
        </tr>
        </tfoot>

    </table>

    <button
            type="button"
            class="btn btn-lg btn-primary pull-right left-margin"
            data-ng-class="{disabled : isBasketEmpty()}">
        Оформить заказ
    </button>

    <button
            type="button"
            class="btn btn-danger pull-right left-margin"
            data-ng-click="reset()"
            data-ng-class="{disabled : isBasketEmpty()}">
        Сбросить
    </button>

</div>
</div>