<div class="container" data-ng-cloack>

    <h3>Заказ</h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Артикль</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Итого</th>
        </tr>
        </thead>

        <tr data-ng-repeat="item in basket.getItems()">
            <td data-ng-bind="item.article" ></td>
            <td data-ng-bind="item.name" ></td>
            <td data-ng-bind="item.price" ></td>
            <td data-ng-bind="item.amount" ></td>
            <td data-ng-bind="item.amount * item.price"></td>
        </tr>

    </table>

    </div>
</div>