<div class="container-fluid">

    <div ng-repeat="product in products" class="product-block">
        <a class="thumb" href="{{product.medium_img.url}}">
            <img src="{{product.img}}" alt="Траурный венок {{product.name}}" >
        </a>

        <div class="details">
            <a class="buy" href="{{product.link}}">Купить</a>
            <div class="price"><span>{{product.formatted_retail_price}}</span></div>
            <div class="name">{{product.name}}</div>
            <div class="cost">{{product.price}}</div>
            <div class="size">{{product.size}}</div>
        </div>
    </div>

</div>
