<form ng-submit="ok()" class="modal-body clearfix">

    <div class="form-inline">
        <div class="form-group relative clearfix">
            <label for="amount">Количество:</label>
            <input
                    autofocus
                    min="0"
                    max="1000"
                    data-ng-model="amount"
                    type="number"
                    class="form-control"
                    id="amount">

        </div>
        <div class="form-group margin-top-10">
            <label for="amount">Пожелания по оформлению:</label>
            <textarea data-ng-model="comment" id="comment" rows="2"></textarea>
        </div>
    </div>

    <div class="form-inline">
        <div class="form-group relative clearfix">
            <button class="btn btn-primary" type="submit">OK</button>
            <a data-ng-click="navigateToOrder()" class="btn btn-success pull-right">
                Оформить заказ
            </a>
        </div>
    </div>

</form>
