/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

$navbar-inverse-link-color: #fff;
$navbar-inverse-link-hover-bg: #454a46 ;
$navbar-inverse-link-active-bg: #757a76;
$navbar-inverse-brand-color: #F5D102;
$navbar-inverse-brand-hover-color: yellow;

@import "bootstrap-sprockets";
@import "bootstrap";


.venok-navbrand {
  @extend .navbar-brand;
  color: #fdfd51 !important;
}

