.two-lines-block {
  min-height: 6ex;
}

.two-lines-bottom-offset {
  margin-bottom: 6ex;
}

.strong {
  font-weight: bolder;
}

.black {
  color: black;
}

a.black:hover, a.black:visited, a.black:active, a.black:link {
  color: black;
}
