.two-lines-block {
  min-height: 6ex;
}

.two-lines-bottom-offset {
  margin-bottom: 6ex;
}

.strong {
  font-weight: bolder;
}

.black {
  color: black;
}

a.black:hover, a.black:visited, a.black:active, a.black:link {
  color: black;
}

.left-offset-5 {
  margin-left: 5px;
}

.long-btn {
  width: 100%;
  margin: 0 0 20px;
}

.left-margin {
  margin: 0 0 0 20px;
}

.default-padding {
  padding: 20px;
}

.relative {
  position: relative;
  width: 100%;
}

.margin-top-10 {
  margin-top: 10px;
}

