.modal-open {
  overflow: visible;
}

.modal-dialog {
  margin-top: 80px;
}

.form-inline {
  margin-top: 10px;
}

#comment {
  width: 100%;
  resize: none;
}

.btn-ok {
  position: absolute;
  right: 5px;
  top: 0;
}

#amount {
  width: 120px;
  float: right !important;
}

@media (max-width: 767px) {
  .btn-ok {
    position: absolute;
    right: 5px;
    top: 25px;
  }

  #amount {
    float: none !important;
  }

}
