.modal-open {
  overflow: visible;
}

.modal-dialog {
  margin-top: 80px;
}

.form-inline {
  margin-top: 10px;
}

.btn-ok {
  position: absolute;
  right: 5px;
  top: 0;
}

#amount {
  width: 110px;
}

@media (max-width: 767px) {
  .btn-ok {
    position: absolute;
    right: 5px;
    top: 25px;
  }

  #amount {
    width: 75%;

  }

}
