.modal-open {
  overflow: visible;
}

.modal-dialog {
  margin-top: 80px;
}

.form-inline {
  margin-top: 10px;
}

#amount {
  width: 110px;
}

.right-btn-block {
  float: right;
  margin-right: 5px;
  margin-top: 2ex;
}
