@media (min-width: 768px) {
  .short-brand {
    display: none;
  }

  .long-brand {
    display: inline;
  }
}

@media (min-width: 0) and (max-width: 767px) {
  .short-brand {
    display: inline;
  }

  .long-brand {
    display: none;
  }
}

@media (max-width: 320px) {
  .slogan {
    display: none;
  }
  .navbar-brand {
    height: auto;
    margin-left: auto;
  }
}


.offset {
  padding-top: 7px;
  padding-bottom: 7px;
}

.brand-place {
  position: relative;
}

.navbar-brand {
  margin-left: 15px !important;
}

.brand-font {
  //font-family: $font-family-monospace;
  //font-family: $font-family-sans-serif;
  font-family: $font-family-serif;
  font-size: 20px;
  font-weight: 900;
  text-shadow: 1px 1px 1px rgba(255, 255, 0, .5);
}

.slogan {
  position: absolute;
  top: 32px;
  left: 55px;
  width: 400px;
  color: $dark-yellow;
}

.slogan:hover {
  color: $yellow;
}

.active-menu {
  background-color: $dark;
}

