.product-block {
  @include make-xs-column(6);
  @include make-sm-column(4);
  @include make-md-column(3);
  @include make-lg-column(3);
  margin-bottom: $product-grid-bottom-offset;

  img {
    @include img-responsive;
    @include center-block;
    border-top-left-radius: $border-radius-large;
    border-top-right-radius: $border-radius-large;
  }

  .details {
    background-color: $dark;
    color: $white;
    border-bottom-left-radius: $border-radius-large;
    border-bottom-right-radius: $border-radius-large;

    text-align: center;
    overflow: hidden;
    white-space: nowrap;


  }

}