@media (min-width: 768px) {
  .jumping-block:nth-child(4n+1) {
    clear: left;
    /*border: 1px dashed #00c4c4;*/
  }
}

@media (min-width: 540px) and (max-width: 767px) {
  .jumping-block:nth-child(3n+1) {
    clear: left;
    //border: 1px dashed #904050;
  }
}

@media (max-width: 540px) {
  .jumping-block:nth-child(2n+1) {
    clear: left;
    //border: 1px dashed #904050;
  }
  .col-xs-4 {
    width: 50% !important;
  }
}


.product-block {
  max-width: 300px;
  background-image: linear-gradient(315deg, #ccc, #fff);
  border-radius: 6px 6px 4px 4px;
  text-align: center;
  padding-bottom: 1ex;
  margin-bottom: 25%;
  margin-left: auto;
  margin-right: auto;

  transition-property: transform;
  transition: linear;
}

.product-block:hover {
  transform: scale(1.0075);
  cursor: pointer;
}

.product-block.shadow:hover {
  box-shadow: 5px 5px 4px $shadow-color;
}

.top-padding {
  padding-top: 1ex;
}
